body{
	text-align:center;
	background:#eeeeee;
	font-family: 'Open Sans', sans-serif;
}
.table-wrapper {
	width: auto;
	margin: 30px auto;
	background: #fff;
	padding: 20px;	
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	
}
.table-title {
	padding-bottom: 10px;
	margin: 0 0 10px;
}
.table-title h2 {
	margin: 6px 0 0;
	font-size: 22px;
}
.table-title .add-new {
	float: right;
	height: 30px;
	font-weight: bold;
	font-size: 12px;
	text-shadow: none;
	min-width: 100px;
	border-radius: 50px;
	line-height: 13px;
}
.table-title .add-new i {
	margin-right: 4px;
}
